<div class="container">
    <h1>View Driver</h1>
  
    <a  routerLink="/driver/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ driver.id }}</p>
    </div>
   
    <div>
        <strong>First Name:</strong>
        <p>{{ driver.firstName }}</p>
    </div>
   
    <div>
        <strong>last Name:</strong>
        <p>{{ driver.lastName }}</p>
    </div>
    <div>
        <strong> Email:</strong>
        <p>{{ driver.email }}</p>
    </div>
    <div>
        <strong> phone Number:</strong>
        <p>{{ driver.phoneNumber }}</p>
    </div>
</div>